<tr>
    <td>{{individualBug.id_bug}}</td>
    <td>{{individualBug.nombre}}</td>
    <td>{{individualBug.descripcion}}</td>
    {{#if (isStatePendiente individualBug.estado)}}
        <td>
            <select name="state-{{@index}}" id="state-{{@index}}" class="form-select" onchange="changeBugState{{@index}}()">
                <option value="Pendiente" selected>Pendiente</option>
                <option value="En correcci贸n" >En correcci贸n</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </td>
    {{/if}}

    {{#if (isStateEnCorreccion individualBug.estado)}}
        <td>
            <select name="state-{{@index}}" id="state-{{@index}}" class="form-select" onchange="changeBugState{{@index}}()">
                <option value="Pendiente">Pendiente</option>
                <option value="En correcci贸n" selected>En correcci贸n</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </td>
    {{/if}}

    {{#if (isStateFinalizado individualBug.estado)}}
        <td>Finalizado</td>
    {{/if}}
</tr>

<script>
    let changeBugState{{@index}} = async () => {
        const id = {{individualBug.id_bug}}
        const state = document.querySelector('#state-{{@index}}').value;
        await fetch(`/bugState/${id}/${state}`, {method: 'POST'});
        location.reload();
    };
</script>